<div class="dialog-demo-content centered">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Add New Album</span>
            </md-card-title-text>
        </md-card-title>

        <form ng-submit="vm.submitAlbumForm()" role="form" name="submitAlbumForm">
            <!--title-->
            <md-input-container flex="80" flex-offset="10" md-no-float class="md-block">
                <md-icon md-colors="{color: 'green-200'}">
                    <i class="material-icons">shop</i>
                </md-icon>
                <input type="text" ng-model="vm.title" ng-required="false" style="font-size: 20px">
            </md-input-container>
            <!--img_path-->
            <md-input-container flex="80" flex-offset="10" class="md-block">
                <md-icon md-colors="{color: 'pink-200'}">
                    <i class="material-icons">tab</i>
                </md-icon>
                <input type="text" ng-model="vm.image" style="font-size: 20px" >
            </md-input-container>
            <!--submit-->
            <md-input-container flex="80" flex-offset="10" layout="row" layout-align="center none">
                <md-button type="submit" ng-disabled="submitAlbumForm.$invalid" class="md-raised md-primary">Submit</md-button>
            </md-input-container>
        </form>
    </md-card>


    <album ng-repeat="album in vm.albums" title="album.title" image="album.image" id="album.id"></album>







</div>


<!--<album></album>-->

<!--<div ng-if="$ctrl.isUserLogged "-->
     <!--class="dialog-demo-content"-->
     <!--layout="column"-->
     <!--layout-align="center center"-->
     <!--style="min-height: 90vh;">-->
  <!--<h1>Uara content!!</h1>-->
  <!--<md-button ui-sref="sign-out"-->
             <!--ui-sref-active="active"-->
             <!--class="md-primary"-->
             <!--style="display: block" >Sign out-->
  <!--</md-button>-->
<!--</div>-->



