@import "common/common";
@import "~angular-material/angular-material";

.active {
  color:red !important;
}

.string-center {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.centered {
  text-align: center;
}