<div style="height: auto; width: 315px;">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Video Title</span>
        <span class="md-subhead">Album Title</span>
      </md-card-title-text>
    </md-card-title>

    <embed-video data-ng-href="http://www.youtube.com/watch?v=LOKyEt36Kjc">
      <a href="http://www.youtube.com/watch?v=LOKyEt36Kjc">Watch</a>
    </embed-video>

    <md-card-content>
      <p>
        some description
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button>Delete this video from album</md-button>
    </md-card-actions>
  </md-card>
</div>